// If add breakpoint please add to file utils/breakpoint.ts if used by ts

$breakpointSm: 576px !default;
$breakpointMd: 768px !default;
$breakpointLg: 992px !default;
$breakpointXl: 1200px !default;
$breakpointXxl: 1600px !default;
