// If add color please add to file utils/colors.ts if used by ts

$green-lighter: #8aaa9b !default;
$green-light: #698b7b !default;

$background: #1c242c !default;
$primary-text: #88867c !default;
$secondary-text: #6a6b6c !default;
$bright-text: #d4dbb4 !default;
