// If add color please add to file utils/colors.ts if used by ts

$greenLighter: #8aaa9b !default;
$greenLight: #698b7b !default;
$background: #1c242c !default;
$primaryText: #88867c !default;
$secondaryText: #6a6b6c !default;
$brightText: #d4dbb4 !default;
$navBackground: #1e272e !default;